@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100%;
  max-height: 100%;
}
html {
  background-color: black;
  overflow: hidden;
}

/* tailwind one doesn't seem to work ¯\_(ツ)_/¯  */
.noise::before {
  content: ' ';
  filter: contrast(0.2) brightness(0.1);
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
  color: #5c5c64;
}
